*{
    margin: 0;
    padding: 0;
}
#main{
    margin: 20px auto;
    position: relative;
}
#main div{
    width: 50px;
    height: 50px;
    float: left;
}
.pos0{background: blue;}
.pos1{background: gray;}
.pos2{background: red;}
.pos3{background: url(img/wall.png);}
.box{
    position: absolute;
    background: url(img/box.png);
}
.person{
    position: absolute;
    background: url(img/person.png);
}